In [1]:
import zoo

zoo.hours()

Open 9-5 daily

In [2]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [3]:
import csv
import sqlite3
import sqlalchemy as sa

books = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Mi√©ville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992]
]

with open("books2.csv", "w", newline="") as file:
    csvout = csv.writer(file)
    csvout.writerows(books)

conn = sqlite3.connect("books.db")
curs = conn.cursor()
curs.execute("""CREATE TABLE IF NOT EXISTS books
             (title TEXT,
             author TEXT,
             year INTEGER)""")

curs.execute("DELETE FROM books")

curs.executemany("""
    INSERT INTO books (title, author, year) 
    VALUES (?, ?, ?)""", books[1:])

curs.close()
conn.close()

engine = sa.create_engine("sqlite:///books.db")
meta = sa.MetaData()
btable = sa.Table("books", meta, autoload_with=engine)

with engine.connect() as connection:
    result = connection.execute(btable.select().order_by(btable.c.title))
    for row in result:
        print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!